body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #18120f;
  color: #ffd700;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  background: #18120f;
}
::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
